<section class="wish-form">
  <h1>Create a wish</h1>
  <form class="create-wish">

    <h4>Name your wish</h4>
    <input type="text" placeholder="Wish Name" ng-model="draft_wish.name" />

<!-- TODO: ADD THIS LATER -->
    <!-- <p>or</p>

    <h4>Add to an existing wish</h4>
    <select name="wishes">
      <option>Select a Wish</option>
      <option>{{wish.name}}</option>
    </select> -->

    <h4>Name your desired price</h4>
    <span class="currency">$ <input type="text" placeholder="Price" /></span>

    <button type="submit" ng-click="submitWish()">Save your wish</button>
    <a href="#" class="cancel">Cancel</a>
  </form>
</section>
