.about {
  padding: 1em 2em;
  color: $dark-blue; //BLUE


  h1 {
    color: $teal;
  }


  div.awesome-people{
    @extend .clearfix;

    div.awesome-person {
      margin: 2em;
      background-color: #f2f2f2;
      border: gray;
      box-shadow: 0 2px 4px rgba(0,0,0,.25);
      margin: 1em;
      position: relative;
      width: 300px;
      float: left;


      div.awesome-person-img {
        overflow: hidden;
        height: 500px;
        max-height: 200px;

        img {
          width: 100%;
        }
      }

      div.awesome-person-name {
        font-weight: bold;
        line-height: 1.5em;
        padding: 0.5em;
        border-bottom: 1px silver solid;

        .about-link {
          margin: 0 .1em;
          float: right;
          text-decoration: none;
          color: $teal;
          font-size: 1.5em;
          &:hover {
            color: $light-teal;
          }
        }
        .about-link:visted {
          color: $teal;
        }
      }

      div.awesome-person-description {
        font-size: 1em;
        line-height: 1.5em;
        padding: 0.5em;
      }
    }//END DIV.AWESOME-PERSON
  }//END DIV AWESOME-PEOPLE

}//END .ABOUT



@media (max-width: 767px) {           //MOBILE
}

@media (max-width: 1024px) and (min-width: 768px){      //TABLET

}


@media (min-width: 1025px) {            //DESKTOP

}
