$amazon-image-up: url(../img/amazon_login_76x32.png);
$amazon-image-down: url(../img/amazon_login_76x32_pressed.png);
$dark-blue: #064583;
$teal-dark: #046969;
$teal: #068383;
$light-teal: #379b9b;
$yellow-orange: #F9BE12;
$ivory: #fdf2cf;
$coral: #ee6a50;
$coral-light: #f18772;
$coral-dark: #EE6A50;

body:after {
  display: none;
  content: $amazon-image-up $amazon-image-down;
}

.container {
  width: 100%;
  font-family: 'Lato', sans-serif;
  .nav-header {
    float: left;
    display: inline-block;
    width: 100%;
    padding-bottom: 2%;

    #logo {
      text-decoration: none;
      display: inline-block;
      font-size: 30pt;
      font-family: 'Lobster Two', cursive;
      color: $dark-blue;     //DARK BLUE
      font-weight: bold;
      margin-left: 10px;
      margin-top: 10px;
      width: 58%;
      float: left;
    } //END #logo


    .meta {               //<NAV>
      float: right;
      display: inline-block;
      width: 25%;
      margin-top: 10px;
      color: $dark-blue;     //DARK BLUE
      font-size: 16pt;
      margin-right: 10px;
      text-align: right;

      .hidden {
        display: none;
      }

      .login {
      display: inline-block;
      margin-top: 10px;
      float: right;
      margin-right: 20px;
      width: 100%;

        .amazon-root {
          cursor: pointer;
          background: $amazon-image-up no-repeat;
          height: 32px;
          width: 76px;
          float: right;

          span {
            padding: 6px 0 0 30px;
            font-size: .6em;
            font-weight: bold;
            text-align: left;
          }

          .amazon-login {
            display: block;
            color: black;
            width: 100%;
          } //END AMAZON_LOGIN

          .amazon-logout {
            display: none;
            color: black;
          } //END AMAZON_LOGOUT

        .amazon-root:active {
          background: $amazon-image-down no-repeat;
          margin-right: 10px;
          position: relative;

          } //END AMAZON-ROOT ACTIVE
        }//END AMAZON-ROOT
        #welcome {
          float: right;
          margin: 10px;
          margin-right: 0;
          display: none;
          position: absolute;
          width: 33.33%;
          top: 50px;
          right: 30px;
          }
      }//END .LOGIN <DIV>

    }//END .META

    button {
      background-color: $teal; //TEAL
      border: none;
      color: #fff;
      border-radius: 3px;
      &:hover {
        background-color: #379b9b;
      }
    }//BUTTON
  }//END <HEADER>

  .search {

    .color-bar {
      display: inline-block;
      width: 100%;
      background-color: $yellow-orange; //YELLOW/ORANGE
      padding-bottom: 4%;
      padding-top: 2%;
      text-align: center;
      @extend .clearfix;
      h2 {
        font-size: 35pt;
        font-weight: lighter;
        color: #fff;
        margin-bottom: 17px;
        margin-top: 25px;
        #wish {
          font-family: 'Lobster Two', cursive;
          font-weight: lighter;
        }
      }//END H2

      input {
        border-radius: 3px;
        border: none;
        padding: 5px 95px;
        text-align: center;
        font-size: 1.5em;
      }

      button {
        background-color: $teal;
        border: none;
        color: #fff;
        // padding-left: 2%;
        // padding-right: 2%;
        border-radius: 3px;
        // margin-left: 10px;
        font-size: 1.5em;
        &:hover {
          background-color: $light-teal;
        }
        &:active {
          background-color: $teal-dark;
        }
      }//END BUTTON

      .search-menu {
        list-style: none;
        background-color: #c2c2c2;
        width: 60%;
        margin: 0 auto;
        border-radius: 5px;
        position: absolute;
        left: 18%;
        text-align: left;
        margin-top: 10px;

        // &.shadow {
        //   -webkit-box-shadow: 0 8px 6px -6px black;
        //   -moz-box-shadow: 0 8px 6px -6px black;
        //   box-shadow: 0 8px 6px -6px black;
        // }

        li {
          // background-color: #fff;
          color: $dark-blue; //DARK-BLUE
          a {
            text-decoration: none;
            display: inline-block;
          }
        }
      }
    }//.COLOR-BAR=
  }//.SEARCH

  .list-view {
    width: 100%;

    .#{$fa-css-prefix}-spin {
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
      margin: 0 auto;
      font-size: 60pt;
      text-align: center;
      width: 100%;
      margin-top: 100px;
      color: #c1c1c1;
    }

    .sub-views {
      font-size: 22pt;
      text-align: center;
      border-bottom: 2px solid #f2f2f2;
      height: 58px;

      a{
        text-decoration: none;
        color: #a9a9a9;
        display: none;
        margin-top: 10px;
        margin-right: 15px;
        margin-left: 15px;
      }


      a.active {
        display: inline-block;

      }

      .selected {
        display: inline-block;
        border: 2px solid #f2f2f2; //FIXME: change to grey
        border-bottom: 3px solid #fff;
        border-radius: 3px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 25pt;
        color: $dark-blue;


      }

    } //SUB-VIEWS
  } //END LIST-VIEW

  footer {
    background-color: $yellow-orange;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 60px;
    @extend .clearfix;

    .info-pgs {
      float: left;
      margin-top: 10px;

      a {
        text-decoration: none;
        color: $ivory;
        font-size: 14pt;
        margin-left: 10px;
        margin-right: 10px;

        &::before {
          content: '\f005';
          font-family: FontAwesome;
          margin-right: 8px;
        }

        // &:hover {
        //   color: $teal;
        // }
      }//END A
    }//END .info-pgs


    #github {
      float: right;
      text-decoration: none;
      margin-right: 25px;
      font-family: FontAwesome;
      font-size: 25pt;
      text-align: right;

      a {
        text-decoration: none;
        color: $ivory;
        // &:hover {
        //   color: $teal;
        // }
      }//END A

    } //END GITHUB
  }//END FOOTER

}//END .CONTAINER

@media (max-width: 767px) {           //MOBILE
  .container {

    .color-bar {

      button {
        margin-top: 15px;
        padding-left: 15%;
        padding-right: 15%;
      }
    } //.color-bar

  }//.container
}//END MOBILE

@media (max-width: 1024px) and (min-width: 768px){      //TABLET
  .container {

  }
}//END TABLET


@media (min-width: 1025px) {            //DESKTOP
  .container {

    .color-bar {

      button {
        margin-top: 10px;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 10px;

      }
    } //.color-bar
    footer {


      .info-pgs {

        a {

          &::before {

          }

          &:hover {
            color: $teal;
          }
        }//END A
      }//END .info-pgs


      #github {

        a {

          &:hover {
            color: $teal;
          }
        }//END A

      } //END GITHUB
    }//END FOOTER

  }// .container
} //END DESKTOP
