.container {
  width: 100%;
  font-family: 'Lato', sans-serif;
  .nav-header {
    // background-color: orange;
    float: left;
    display: inline-block;
    width: 100%;
    padding-bottom: 2%;

    #logo {
      text-decoration: none;
      display: inline-block;
      font-size: 30pt;
      font-family: 'Lobster Two', cursive;
      color: #064583;     //DARK BLUE
      font-weight: bold;
      margin-left: 10px;
      margin-top: 10px;
    } //END #logo

    .login {
      display: inline-block;
      margin-left: 50%;

      #signup-link {
        text-decoration: none;
        margin-left: 10px;
      }//END #signup-link
    }//END .LOGIN <DIV>
    button {
      background-color: #068383; //TEAL
      border: none;
      color: #fff;
      // padding-left: 2%;
      // padding-right: 2%;
      border-radius: 3px;

    }
  }//END <HEADER>

  .search {
    display: inline-block;
    float: left;
    width: 100%;
    background-color: #F9BE12; //YELLOW/ORANGE
    padding-bottom: 4%;
    padding-top: 2%;
    text-align: center;
    @extend .clearfix;

    h2 {
      font-size: 35pt;
      font-weight: lighter;
      color: #fff;
      margin-bottom: 17px;
      margin-top: 25px;
      #wish {
        font-family: 'Lobster Two', cursive;
        font-weight: lighter;
      }
    }//END H2

    input {
      border-radius: 3px;
      border: none;
      padding: 5px 95px;
      text-align: center;
      margin-top: 25px;
    }

    button {
      background-color: #068383;
      border: none;
      color: #fff;
      padding-left: 2%;
      padding-right: 2%;
      border-radius: 3px;
      margin-left: 10px;
    }//END BUTTON

      .search-menu {
        list-style: none;
        background-color: #c2c2c2;
        width: 60%;
        margin: 0 auto;
        border-radius: 5px;
        position: absolute;
        left: 18%;
        text-align: left;
        margin-top: 10px;

        // &.shadow {
	      //     -webkit-box-shadow: 0 8px 6px -6px black;
	      //     -moz-box-shadow: 0 8px 6px -6px black;
	      //     box-shadow: 0 8px 6px -6px black;
        //   }

        li {
          // background-color: #fff;
          color: #064583; //BLUE
          a {
            text-decoration: none;
          }
        }
      }
    }//.SEARCH

  .list-view {
    width: 100%;
  }

}//END .CONTAINER
