.lists {
  margin: 0 auto;
  text-align: center;
  width: 60%;

  h2 {
    font-size: 25pt;
    margin-bottom: 10px;

  }

  p {
    font-size: 14pt;
    color: #515151;
    margin-bottom: 20px;
  }


  ul {
    // border: 1px solid #068383;
    list-style: none;
    width: 100%;
    padding: 0;

    li {
      border: 2px solid #fff;
      background-color: #f2f2f2;
      @extend .clearfix;


      a {
        float: left;
        text-decoration: none;

        img {
          display: inline-block;
          margin: 10px;
        }

        h3 {
          display: inline-block;
          margin: 0 10px;
          color: #064583;
        }

        p {
          display: inline-block;
          margin: 0 10px;
          color: #068383;
        }
      }//END OF <A>
    }//END <LI>
  }//END of <UL>

  h2 {
    color: #064583;
  }
}
