.lists {        //<section>
  margin: 0 auto;
  text-align: center;
  width: 100%;

  h2 {            //PARTIAL TITLE
    font-size: 25pt;
    margin-bottom: 10px;
    color: #064583;
  }

  ul {
    // border: 1px solid #068383;
    list-style: none;
    width: 100%;
    padding: 0;
    margin-left: 109px;
    margin-top: 50px;
    @extend .clearfix;

    li {
      border: 2px solid #fff;
      background-color: #f2f2f2;
      @extend .clearfix;
      width: 20%;
      height: 330px;
      float: left;
      display: inline-block;
      border-radius: 5px;
      margin: 5px;
      // padding-bottom: 25%;

      a {
        float: left;
        text-decoration: none;
        width: 100%;

        img {
          display: block;
          margin: 0 auto;
          margin-top: 10px;
          margin-bottom: 15px;

        }

        .product-txt {
          padding-top: 4%;
          text-decoration: none;
          color: #f9be12;
          font-size: 25pt;
          margin-bottom: 10px;

          h3 {
            display: block;
            margin: 0 10px;
            margin-left: 0;
            color: #068383;
            font-size: 20pt;
            margin-bottom: 10px;

          }

          p {
            display: block;
            margin: 0 10px;
            color: #068383;
            font-size: 18pt;
            margin-bottom: 10px;

          }
          .price {
            font-size: 18pt;
            margin-top: 14px;
            font-size: 18pt;
            color: #064583;
            font-weight: bold;
          }

          .descr {
            display: block;
            font-size: 14pt;
          }
          fa fa-star {
            font-family: Font-Awesome;
          }

        }//.PRODUCT-TXT

      }//END OF <A>
    }//END <LI>
  }//END of <UL>

}//END .lists

@media (max-width: 767px) {           //MOBILE
}

@media (max-width: 1024px) and (min-width: 768px){      //TABLET

}


@media (min-width: 1025px) {            //DESKTOP

}
