section.privacy {
  padding: 1em 2em;
  color: #064583; //BLUE
  width: 80%;
  margin-left: 15px;

  h1 {
    color: #068383;
  }

  h3 {
    color: #068383;
  }

  h4 {
    color: #068383;
  }
}//END PRIVACY <section>


@media (max-width: 767px) {           //MOBILE
}

@media (max-width: 1024px) and (min-width: 768px){      //TABLET

}


@media (min-width: 1025px) {            //DESKTOP

}
