.result-list {
  margin: 0 auto;
  text-align: center;
  width: 100%;

  h2 {
    font-size: 25pt;
    margin-bottom: 10px;
    color: #064583;


  }

  p {
    font-size: 14pt;
    color: #515151;
    margin-bottom: 20px;
  }


  ul {
    // border: 1px solid #068383;
    list-style: none;
    width: 80%;
    padding: 0;
    margin: 0 auto;

    .result-item {
      border: 3px solid #fff;
      background-color: #f2f2f2;
      @extend .clearfix;


      a {
        float: left;
        text-decoration: none;
        width: 100%;

        .img-container {
          @extend .clearfix;
          float: left;
          width: 10%;
          display: inline-block;


          img {
            display: inline-block;
            margin: 0 auto;
            // margin: 10px;
            // margin-right: 15px;
            float: left;
          }
        } //.img-container


        .product-txt {
          // padding-top: 4%;
          // padding-bottom: 5%;
          text-align: left;
          width: 80%;
          float: left;
          display: inline-block;
          margin-top: 2%;
          position: relative;


          .title {
            display: inline-block;
            margin: 0 10px;
            color: #064583;
            font-size: 16pt;
            text-transform: capitalize;

          }

          p {
            display: inline-block;
            margin: 0 10px;
            color: #068383;
            margin-bottom: 2%;
            max-height: 50px;
            overflow-y: hidden;
          }

          .price {
            float: right;
            font-size: 18pt;
            position: absolute;
            top: 25px;
            right: 109px;
            // margin-top: 5%;
            // margin-bottom: 5%;

          }

          .descr {
            width: 78%;

          }

          .star-link {
            color: #f9be12;
            font-size: 35pt;
            // margin-top: 25px;
            // margin-bottom: 10px;
            margin-left: 50px;
            margin-right: 35px;
            display: block;
            float: right;
            position: absolute;
            right: 1px;
            top: 22px;
            cursor: pointer;

            &:hover {
              color: #fad159;
            }

            fa fa-star {
              font-family: Font-Awesome;
              display: inline-block;
              vertical-align: middle;
            }// STAR
          }//END STAR-LINK

          .descr {
            display: block;
          }
        }//.PRODUCT-TXT
      }//END OF <A>
    }//END <LI>
  }//END of <UL>

  .add-wish{
    display: none;
    bottom: 0;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    // padding-top: 15px; //FIXME: MAKE ME BIGGER!!!
    // padding-bottom: 15px;
    background-color: rgba(0,0,0,.3);
    -webkit-animation: display-none-transition 0.5s;
    animation: display-none-transition 0.5s;

    button {
      font-size: 20pt;
      border-radius: 5px;
      background-color: $teal;
      color: white;
      cursor: pointer;
      border: none;
      margin-top: 6pt;
      margin-bottom: 6pt;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,.5);
      -webkit-animation: display-none-transition 0.5s;
      animation: display-none-transition 0.5s;

      &:hover {
        background-color: $light-teal;
      }
    }


    button::before {
      font-family: FontAwesome;
      content: '\f0fe';
    }

    &:hover {
      color: #f9be12;
      padding: 0;

      .drp-down {
        display: block;
      }
    }//.ADD-WISH HOVER

  }//END .ADD-WISH
    .add-wish-but-login{
    display: none;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    color: #fdebb7;
    font-weight: bold;
    // // -webkit-text-stroke: 1px black;
    // color: black;
    // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    // -webkit-text-stroke-width: 0.5px;
    // -webkit-text-stroke-color: black;
    // -webkit-animation: display-none-transition 0.5s;
    animation: display-none-transition 0.5s;

    .amazon-root {
      cursor: pointer;
      background: $amazon-image-up no-repeat;
      height: 32px;
      width: 76px;
      margin: 0 auto;
      margin-bottom: 10px;
      margin-top: 5px;


      span {
        padding: 6px 0 0 30px;
        font-size: .8em;
        font-weight: bold;
        text-align: left;
      }

      .amazon-login {
        display: block;
        color: black;
        width: 100%;
      } //END AMAZON_LOGIN

      .amazon-logout {
        display: none;
        color: black;
      } //END AMAZON_LOGOUT
    }
    .amazon-root:active {
      background: $amazon-image-down no-repeat;
      margin-right: 10px;
      position: relative;
    } //END AMAZON-ROOT ACTIVE

  }//END .ADD-WISH-BUT-LOGIN
} //END <SECTION>


@media (max-width: 767px) {           //MOBILE
  .result-list {

    li {

      .product-txt {
        margin-left: 10px;
      }
    }//li

  }//.results-list
} //END MOBILE

@media (max-width: 1024px) and (min-width: 768px){      //TABLET
  .result-list {

  } //.result-list
} //END TABLET


@media (min-width: 1025px) {            //DESKTOP
  .result-list {
    li {

      .product-txt {
        .title {
          margin-left: 0;

        }
      }
    }
  } //.result-list
} //END DESKTOP
