.result-list {
  margin: 0 auto;
  text-align: center;
  width: 80%;

  h2 {
    font-size: 25pt;
    margin-bottom: 10px;
    color: #064583;


  }

  p {
    font-size: 14pt;
    color: #515151;
    margin-bottom: 20px;
  }


  ul {
    // border: 1px solid #068383;
    list-style: none;
    width: 100%;
    padding: 0;

    li {
      border: 3px solid #fff;
      background-color: #f2f2f2;
      @extend .clearfix;


      a {
        float: left;
        text-decoration: none;
        width: 100%;

        img {
          display: inline-block;
          margin: 10px;
          margin-right: 15px;
          float: left;
        }

        .product-txt {
          padding-top: 4%;
          // padding-bottom: 6%;
          text-align: left;

          .title {
            display: inline-block;
            margin: 0 10px;
            // margin-left: 0;
            color: #064583;
            text-transform: capitalize;

          }

          p {
            display: inline-block;
            margin: 0 10px;
            color: #068383;
          }

          .price {
            float: right;
            font-size: 18pt;
            margin-top: 10px;
          }

          .star-link {
            color: #f9be12;
            font-size: 35pt;
            margin-bottom: 10px;
            margin-left: 50px;
            margin-right: 35px;
            display: block;
            float: right;

            &:hover {
              color: #fad159;
            }

            fa fa-star {
              font-family: Font-Awesome;
              display: inline-block;
              vertical-align: middle;
            }// STAR
          }//END STAR-LINK

          .descr {
            display: block;
          }
        }//.PRODUCT-TXT
      }//END OF <A>
    }//END <LI>
  }//END of <UL>
  .add-wish{
    font-family: FontAwesome;
    font-size: 20pt;
    color: #f9be12;
    background-color: #f2f2f2;
    float: right;
    display: inline;
    top: 90%;
    right: 20px;
    position: fixed;
    padding-left: 2.5%;
    padding-right: 2.5%;

    &:hover {
      color: #f9be12;
      padding: 0;

      .drp-down {
        display: block;
      }
    }//.ADD-WISH HOVER
    .drp-down {
      display:none;
      font-size: 12pt;
      color: #064583;
      background-color: none;
    }
  }//END .ADD-WISH
} //END <SECTION>


@media (max-width: 767px) {           //MOBILE
  .result-list {

    li {

      .product-txt {
        margin-left: 10px;
      }
    }//li

  }//.results-list
} //END MOBILE

@media (max-width: 1024px) and (min-width: 768px){      //TABLET
  .result-list {

  } //.result-list
} //END TABLET


@media (min-width: 1025px) {            //DESKTOP
  .result-list {
    li {

      .product-txt {
        .title {
          margin-left: 0;

        }
      }
    }
  } //.result-list
} //END DESKTOP
